@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* .widget-container {
    background-color: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgb(211.65, 211.65, 211.65) 100%);
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(10, 20, 30, 0.4);
    margin-bottom: 20px;
    
  }
  
  .widget-title {
    background: ;
    color: black;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .widget-content {
    margin: 16px;
  } */