.carousel {
    position: fixed;
    left: 37.5%;
    bottom: 5%;
    height: 100%;
    width: 80%;
    overflow: hidden;
    z-index: 10; /* Ensure overflow is hidden */
}

.carousel_wrapper {
    display: flex; /* Use flexbox for horizontal layout */
    transition: transform 0.5s ease; /* Add transition for smooth sliding */
}

.carousel_card {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    flex: 1; /* Ensure each card takes up full width */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
    text-align: center; /* Center align text */
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.carousel_card-active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.carousel img{
    width: 50%;
    height: 50%;
}

.card_title {
    margin-bottom: 10px; /* Add margin below title */
    line-height: 1.25;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 50%;
}

.card_text {
    margin-bottom: 20px; /* Add margin below text */
    color: white;
    font-size: 16px;
    width: 50%;
}

.carousel_pagination {
    position: absolute;
    bottom: 10px; /* Position pagination at the bottom */
    left: calc(50% + 20px); /* Adjust left offset */
    transform: translateX(-50%);
}

.pagination_dot {
    height: 10px;
    width: 10px;
    background-color: #D6F0E6;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px; /* Add margin between dots */
    cursor: pointer;
}

.pagination_dot-active {
    background-color: #0F7275;
    border-radius: 20px;
    width: 20px;
}