.menu{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: 90vh;
}
.logo{
    text-align: center;
    padding: 20px;
    color: black;
    align-items: center;
    display: flex;
    gap: 20px;
    font-size: 35px;
}

.logo .icons{
    font-size: 33px;
}


.menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list .item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: black;
}

.menu-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 0;
}
.menu-bottom .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: black;
}

.menu-list .item:hover{
    background: white;
    color: black;
}

.menu-bottom .item:hover{
    background: white;
    color: black;
}