@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-zoom {
    touch-action: manipulation; /* Disables double-tap-to-zoom on touch devices */
    user-scalable: no; /* Disables zooming */
}


.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
  }
  